/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

#viewerDiv {
  min-height: 500px;
  min-width: 100px;
  height: 100%; 
  width: 100%; 
  margin-top: 50px;
  overflow: hidden; 
  position: relative;
}

footer {
    padding-top: 50px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {

}

h4 {
  color: white;
}


.myButton {
      background-color: white;
      color: #4CAF50;
      border: 2px solid #4CAF50;
      border-radius: 8px;
      display:inline-block;
      cursor:pointer;
      font-family:Verdana;
      font-size:17px;
      padding:16px 50px;
      text-decoration:none;
      margin-top: 1em;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
}

.myButton:hover {
      background-color: #4CAF50; 
      color: white;
}

.myButton:active {
      position:relative;
      top:1px;
}

/*=============CHARTS CSS BEGIN===============*/
#chart1{
  margin-top: 50px;
}
#chart2{

}
/*=============CHARTS CSS END===============*/


.streamVideo{
  height: 400px;
  width:100%;
  background-color:#c3c3c3;
  margin-top: 15px;
}